<h1>Current Clients</h1>

@if (Model.Count != 0)
{
  foreach(var client in Model)
  {
    <h3>Name: @client.GetFirstName() @sclient.GetLastName()</h3>
    <h4>Expertise: @client.GetExpertise()</h4>
  }
}
