<h1>Add Client</h1>
<form action="/clients/@Model["stylist"].GetId()" method="post">
  <label for="new-client-first">First Name</label>
  <input type="text" name="new-client-first">

  <label for="new-client-last">Last Name</label>
  <input type="text" name="new-client-last">

  <input  type="hidden" name="new-client-stylist-id" value="@Model["stylist"].GetId()">

  <button type="submit" name="button">Add</button>
</form>

<h1>Current Clients</h1>

@if (Model["clients"].Count == 0)
{
  <h3>This stylist does not have any clients yet...</h3>
}
else
{
  <ol>
  @foreach(var client in Model["clients"])
  {
    <h3><li>@client.GetFirstName() @client.GetLastName() <a href="/client/edit/@client.GetId()">Edit/Delete</a></li></h3>
  }
  </ol>
}
