<h1>Edit Stylist</h1>

<form action="/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">

  <label for="update-stylist-expertise">Expertise</label>
  <input type="text" name="update-stylist-expertise" value="@Model.GetExpertise()">

  <button type="submit" name="button">Add</button>
</form>

<form action="/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" name="button">DELETE</button>
</form>

<a href="/">All Stylists</a>
